<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= display_meta_tags site: 'MaG maxx' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= display_meta_tags site: 'Conrate' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "#{Settings['conratethemes.theme']}/all", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'conratethemes/shared/analytics' %>
  </head>
  <body>
    <div id="wrap">
      <%= render 'layouts/navbar' %>
      <%= render partial: 'conratethemes/shared/sidebar' %>
    </div>
    <div class="container full-width" id="maincontainer" style="padding-top:50px">
      <div class="row my-background">
        <div class="col-md-8">
          <%= image_tag 'health/logo4kicsi.png', height: 100 %>
        </div>
        <!-- <div class="col-md-4 searchbar" style="margin-top: 20px"> -->
          <%#= simple_form_for :search,  url: '#' , method: :get do |f| %>
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <%= link_to '#', class: 'btn btn-warning' do %>
              <span class="fa fa-search"></span>
              <% end %>
            </span>
          </div> -->
          <%# end %>
        <!-- </div> -->
      </div>
    </div>
    <nav class="navbar navbar-default" role="navigation" style="min-height:5px;margin-bottom:0px;">
      <div class="container-fluid"></div>
    </nav>
    <%= render 'conratethemes/shared/messages' %>
    <div class="container" id="conratewebshop-categories" style="margin-top: 15px; min-height: 400px">
      <div class="row">
        <div class="col-md-3">
          <% categories = Conratewebshop::Category.each_with_level(Conratewebshop::Category.root.descendants) { |category, level| } %>
          <%= render_box 'Kategóriák', categories.collect {|category| link_to("#{category.name} (#{category.products.try(:count)})", conratewebshop.category_path(category), class: "level-#{category.level}")} %>
          <%= render_box('Bejegyzések', Conrateblogs::Blog.find(1).posts.order('created_at desc').limit(5).collect {|post| link_to(post.title, conrateblogs.blog_post_path(post.blog_id, post))}) if Conrateblogs::Blog.exists?(1) %>
        </div>
        <div class="col-md-5">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <div id="cart">
            <%= render '/conratewebshop/carts/cart', cart: @cart %>
          </div>
          <div>
            <%= render_box('Friss termékek', Conratewebshop::Product.order('created_at desc, id desc').limit(5).collect {|product| link_to(product.name, conratewebshop.category_product_path(product.category_id, product))}) %>
          </div>
        </div>
      </div>
    </div>

    <footer>
  <div id="footer" class="container">
     <div class="row">

   <div class="custom_footer_main column">
      <div class="content_footer_left"> </div>
  </div>

            <div class="column information">
        <!-- <h5>Információk</h5>
        <ul class="list-unstyled">
                    <li><a href="http://maxx.muskovics.net/about_us">Rólunk</a></li>
                    <li><a href="http://maxx.muskovics.net/delivery">Szállítási információk</a></li>
                    <li><a href="http://maxx.muskovics.net/privacy">Adatkezelés</a></li>
                    <li><a href="http://maxx.muskovics.net/terms">Vásárlási feltételek</a></li>
                  </ul> -->
      </div>


    <div class="content_footer_right"> </div>


    </div>



  </div>
  <div class="footer_bottom">
  <div class="footer_bottom-inner container">
    <div id="bottomfooter">
      <!-- <ul>
        <li><a href="http://maxx.muskovics.net/index.php?route=product/special">Akciók</a></li>
        <li><a href="http://maxx.muskovics.net/index.php?route=affiliate/account">Partner program</a></li>
        <li><a href="http://maxx.muskovics.net/index.php?route=account/voucher">Ajándék utalvány</a></li>
        <li><a href="http://maxx.muskovics.net/index.php?route=product/manufacturer">Gyártók</a></li>
        <li><a href="http://maxx.muskovics.net/index.php?route=account/return/add">Visszaküldés</a></li>
        <li><a href="http://maxx.muskovics.net/index.php?route=information/sitemap">Honlaptérkép</a></li>
        <li class="login-logout"><a href="http://maxx.muskovics.net/index.php?route=information/contact">Kapcsolat</a></li>
      </ul> -->
      <ul>
        <% menus = Conratemenus::Menu.find_by_title('conratemenus-footermenu').try(:children) %>
        <% menus.each do |m| %>
          <li><%= link_to m.title, m.get_path(self) %></li>
        <% end if menus %>
      </ul>
    </div>
    <div class="copyright">
      <p>MaG maxx © 2015<br />mert jó nekem!</p>
    </div>
  </div>
</div>
</footer>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/MhdAljuboori/9debb0ab3f04e3fdc5ce/raw/animator-pro.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  </body>
</html>
